/* Resetări de bază */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stil pentru body pentru a centra conținutul */
body {
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Înălțimea întregii ferestre */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Containerul cardului */
.card-container {
    perspective: 1500px; /* Permite efectul 3D */
}

/* Stil pentru card */
.card {
    width: 700px;
    height: 700px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

/* Efectul de flip la hover */
.card-container:hover .card {
    transform: rotateY(180deg);
}

/* Fața și spatele cardului */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ascunde partea din spate când se întoarce */
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Stil pentru fața cardului */
.card-front {
    background-color: #ffffff;
}

/* Stil pentru spatele cardului */
.card-back {
    background-color: #2C3E50;
    color: #ffffff;
    transform: rotateY(180deg); /* Întoarce spatele */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajustări pentru text */
.card-front h1, .card-back h1 {
    margin-bottom: 40px;
    font-size: 4em;
}

.card-front p, .card-back p {
    text-align: center;
    font-size: 1.2em;
}

/* Stil pentru butonul Facebook */
.facebook-button {
    background-color: #4267B2; /* Culoarea standard Facebook */
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.facebook-button i {
    margin-right: 10px;
    font-size: 1.5em;
}

/* Hover Effects pentru buton */
.facebook-button:hover {
    background-color: #365899; /* O nuanță mai închisă de albastru */
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.facebook-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Stil pentru titluri */
h1, h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    margin-top: 40px;
}

/* Stil pentru paragraf */
#mbtiResult {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 30px;
    color: #16a085;
}

/* Stil pentru lista de joburi */
#jobsList {
    list-style: none;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
}

#jobsList li {
    background-color: #f9f9f9;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 1.2em;
}

#jobsList li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}